[submodule "antigen"]
	path = antigen/.antigen
	url = https://github.com/zsh-users/antigen
[submodule "old/vim/.vim/bundle/Vundle.vim"]
	path = old/vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "spacemacs/.emacs.d"]
	path = spacemacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
